temperatures = [
    {'city': "Paris",'continent': "Europe","temperature": "12"},
    {'city': "Los Angeles",'continent': "North America","temperature": "22"},
    {'city': "Bankok",'continent': "Asia","temperature": "15"},
    {'city': "New York",'continent': "North America","temperature": "18"},
    {'city': "Sao Paulo",'continent': "south america","temperature": "32"},
    {'city': "Toronto",'continent': "north america","temperature": "14"},
]


# given the list of temperature, calculate and print the average temperature of north America cities

total_temperature = 0
north_american_cities = 0

for temperature in temperatures:
  if temperature['continent'] == "North America":
    total_temperature = total_temperature + float(temperature['temperature'])
    north_american_cities = north_american_cities + 1

average_temperature = total_temperature / north_american_cities

print(f"Average temperature in North America is: {round(average_temperature, 2)} degrees")